COMPOSE_PROJECT_NAME=laboratorio

GHCR_OWNER=username
IMAGE_TAG=latest

SPRING_PROFILES_ACTIVE=lab

POSTGRES_DB=observability_lab
POSTGRES_USER=observability_user
POSTGRES_PASSWORD=cambiar_en_vps

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=cambiar_en_vps_dev
